:root {
  --primary-color: #d8e5fc;
  --primary-color-highlight: #3e6d96;
  --bs-body-bg: rgb(226, 239, 252);
  --bs-body-font-family: 'Montserrat', sans-serif;
}

html {scroll-behavior: smooth;
}
#bdy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login page */
.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.btn-close{
  position: absolute;
  right: 0;
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

/* end of login page */
/* modal to */
.btn-close{
  position: absolute;
  right: 0;
}
/* loader to guysz 
.loader {
  --path: #2f3545;
  --dot: #5628ee;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect, .loader svg polygon, .loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

.loader {
  display: inline-block;
  margin: 0 16px;
} */

 

li, a{
    color: #FEF8F9;
    font-family: 'Montserrat', sans-serif;
}

.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    position: relative;
    text-decoration: none;
     font-weight: bold;
    color: #000000;  
}

ul li a::before{
    content: "";
    position: absolute;
    background-color: rgb(48, 132, 243);
    height: 3px;
    width: 0;
    left: 0;
    border-radius: 50px;
    bottom: -3px;
    transition: .3s;
}
ul li a:hover{
    color: #4b4b4b;
}
ul li a:hover::before{
    width: 100%;
}
.doctor_img img{
    margin-left: 600px;
    
}
a { color: var(--primary-color); }
a:hover { color: var(--primary-color); }

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bs-dark); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* 
  @media (min-width: 544px)  {}
  @media (min-width: 768px)  {}
  @media (min-width: 992px)  {}
  @media (min-width: 1200px) {}
  @media (min-width: 1400px) {}
  @media (min-width: 1600px) {} 
*/

/*
* Custom Container
*/
.container-custom {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container-custom { width: 1140px; }
}

@media (min-width: 1400px) {
  .container-custom { width: 1340px; }
}

@media (min-width: 1600px) {
  .container-custom { width: 1520px; }
}

.doc_img {
  margin-left: 500px;
  float: right;
}
/*
* Main Header
*/
.header {
  z-index: 2;
}

/*
* Flyout Navigation Bar
*/
#navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255,247,231);
  z-index: 4;
}

.dropdown-nav__closeNavBtn {
  position: absolute;
  top: 20px;
  right: 16px;
  background-color: rgbA(255,255,255,0.6);
}

.dropdown-nav__container {
  height: 100vh;
  padding: 0 1rem;
}

/*
* Hero Section
*/
.hero {
  position: relative;
  height: 100vh;
  background-color: var(--primary-color);
  overflow: hidden;
}

@media (min-width: 1400px) {
  .hero__heading {
      font-size: 3.2rem;
  }
}

.hero__video {
  position: absolute;
  top:50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}

.hero__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  opacity: 0.5;
  z-index: 1;
}

.hero__content {
  z-index: 1;
}

.hero__content-width {
  max-width: 540px;
}

.hero__scroll-btn {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 1;
  color: var(--bs-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.hero__scroll-btn:hover {
  color: var(--bs-light);
  opacity: 0.8;
}

.hero__scroll-btn .bi {
  transition-delay: 0.8s;
  animation: bounce 1s infinite alternate;
}

 
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}


/*
* Steps Section
*/
.steps {
  padding-top: 40px;
  padding-bottom: 40px;
}

.steps__section-thumbnail {
  height: 240px;
  object-fit: cover;
  margin: 0 auto;
}

.steps__content-width {
  max-width: 456px;
  margin: 0 auto;
}

.steps--background {
  background-color: #FEF8F9;
}

@media (min-width: 544px) {
  .steps {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .steps__section-thumbnail {
    height: auto;
  }
}


/*
* Footer
*/
.footer .border-highlight {
  border-top: 1px solid var(--primary-color-highlight);
}